<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.galaxus.productfinder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ch.galaxus.productfinder.application.ProductFinderApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_galaxus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_galaxus_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProductFinder"
        tools:targetApi="31">
        <activity
            android:name="ch.galaxus.productfinder.features.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>